<form class="filter-form" [formGroup]="form">
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>От</mat-label>
      <input matInput [matDatepicker]="dpFrom" formControlName="from" />
      <mat-datepicker-toggle matIconSuffix [for]="dpFrom"></mat-datepicker-toggle>
      <mat-datepicker #dpFrom></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>До</mat-label>
      <input matInput [matDatepicker]="dpTo" formControlName="to" />
      <mat-datepicker-toggle matIconSuffix [for]="dpTo"></mat-datepicker-toggle>
      <mat-datepicker #dpTo></mat-datepicker>
    </mat-form-field>

    <div class="quick">
      <button mat-stroked-button type="button" (click)="quick('today')">Сегодня</button>
      <button mat-stroked-button type="button" (click)="quick('yesterday')">Вчера</button>
      <button mat-stroked-button type="button" (click)="quick('week')">Неделя</button>
      <button mat-stroked-button type="button" (click)="quick('month')">Месяц</button>
    </div>
  </div>

  <div class="row">
    <mat-form-field appearance="outline" class="grow">
      <mat-label>Зоны</mat-label>
      <mat-select formControlName="zones" multiple>
        <mat-option *ngFor="let z of zonesOptions" [value]="z">{{ z }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="grow">
      <mat-label>Категории</mat-label>
      <mat-select formControlName="categories" multiple>
        <mat-option *ngFor="let c of categoryOptions" [value]="c">{{ c }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="grow">
      <mat-label>Поиск по артикулу или названию</mat-label>
      <input matInput formControlName="query" placeholder="SKU или имя" />
      <button mat-icon-button matSuffix type="button" (click)="emit()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-checkbox formControlName="statusOK">ОК</mat-checkbox>
    <mat-checkbox formControlName="statusLOW">Низкий остаток</mat-checkbox>
    <mat-checkbox formControlName="statusCRIT">Критично</mat-checkbox>

    <mat-form-field appearance="outline" class="w120">
      <mat-label>На странице</mat-label>
      <input matInput type="number" formControlName="pageSize" min="10" max="200" />
    </mat-form-field>

    <span class="spacer"></span>

    <button mat-stroked-button type="button" color="primary" (click)="emit()">
      Применить фильтры
    </button>
    <button mat-stroked-button type="button" (click)="onReset()">Сбросить</button>
  </div>
</form>
