<svg
  [attr.viewBox]="'0 0 ' + w + ' ' + h"
  class="trend"
  role="img"
  aria-label="Тренд проверок за период"
>
  <!-- фон -->
  <rect [attr.x]="0" [attr.y]="0" [attr.width]="w" [attr.height]="h" class="bg" />

  <!-- ось Y и горизонтальные линии -->
  <g class="grid">
    <ng-container *ngFor="let t of yTicks; let i = index">
      <line
        [attr.x1]="padL"
        [attr.x2]="w - padR"
        [attr.y1]="yAt(t)"
        [attr.y2]="yAt(t)"
        class="hline"
      />
      <text [attr.x]="padL - 6" [attr.y]="yAt(t) + 4" class="ylabel">{{ t }}</text>
    </ng-container>
  </g>

  <!-- область -->
  <path [attr.d]="areaPath" class="area"></path>

  <!-- линия -->
  <path [attr.d]="linePath" class="line"></path>

  <!-- точки (необязательно, но красиво) -->
  <ng-container *ngFor="let p of points; let i = index">
    <circle [attr.cx]="xAt(i)" [attr.cy]="yAt(p.total)" r="2.5" class="dot"></circle>
  </ng-container>

  <!-- подписи X внизу -->
  <ng-container *ngFor="let lbl of xLabels; let i = index">
    <ng-container *ngIf="lbl">
      <text [attr.x]="xAt(i)" [attr.y]="h - 6" text-anchor="middle" class="xlabel">
        {{ lbl }}
      </text>
    </ng-container>
  </ng-container>
</svg>
